<h1>GITHUB API ACCOUNT</h1>

<button (click)="getUsers()">Get Users</button>

<app-users></app-users>


<table>
    <tr>
        <td>
            <img src="{{profile.avatar_url}}">
        </td>
        <td>
    <tr>
        <td>
            Username: {{profile.login}}
        </td>
    </tr>
    <tr>
        <td>
            Email: {{profile.email}}
        </td>
    </tr>
    <tr>
        <td>
            Joined On: {{profile.created_at}}
        </td>
    </tr>
    <tr>
        <td>
            Followers: {{profile.followers}}
        </td>
    </tr>
    <tr>
        <td>
            Following: {{profile.following}}
        </td>
    </tr>
    <tr>
        <td>
            Bio: {{profile.bio}}
        </td>
    </tr>
    <tr>
        <td>
            Location: {{profile.location}}
        </td>
    </tr>

    </td>
    </tr>
</table>

<div *ngFor="let repo of repos"> 
    {{repos.name}}
</div>